/* common style start */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h1,
h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

btn {
  font-size: 1.8;
}

/* common style end------------ */

/* header bg color */
.cbr-bg {
  background: #264653;
}

.navbar ul li {
  width: 10rem;
}

.navbar form {
  margin-left: 10rem;
}

.cbr-btn-primary {
  background: #e76f51;
}

.cbr-btn-success {
  background: #e76f51;
  padding: 0.8rem 3rem;
}

.cbr-text-warning {
  color: #e76f51;
}
.filter-img {
  filter: grayscale(100%);
}

/* accordion style */

.accordion-button:not(.collapsed) {
  color: #141414;
  background-color: #fafcfd;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Extra Section 1 Style */

.cbr-bg-secondary {
  background: lightgray;
}
.cbr-social-section {
  height: 20rem;
  padding-top: 5rem;
}

/* Extra Section 2 Style */
.cbr-extra-section-2 {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
  margin-right: auto;
  margin-left: auto;
}

footer .container-fluid {
  height: 28rem;
  padding-top: 7rem;
}

/* Responsive Solution--------------------------------- */

@media (max-width: 576px) {
  .cbr-faq-img img {
    width: 100% !important;
    padding: 3rem 1rem;
  }

  .modal-footer input {
    width: 100% !important;
    margin-bottom: 1rem;

    padding-bottom: 2rem;
  }

  .modal-footer button {
    width: 100%;
  }

  .cbr-video h2 {
    font-size: 3rem;
  }

  .cbr-video p {
    visibility: hidden;
  }

  footer .container-fluid {
    padding-top: 2rem;
  }
}
